* {
   -fx-couleurFond: #1c1c1e;
   -fx-couleurBordures: #1f6b0c;
}

.root {
	-fx-background-color: -fx-couleurFond;
	-fx-border-color: -fx-couleurBordures;
	-fx-border-width: 3.0;
}

.label {
	-fx-text-fill: white;
}

.jfx-button {
	-jfx-disable-visual-focus: true; 
}

#btns {
    -fx-background-color: #282827;
    -fx-border-width: 1.0;
    -fx-border-radius: 1.0;
    -fx-border-color: -fx-couleurBordures;
    -fx-text-fill: white;
}

#btns:hover {
	-fx-background-color: #1f6b0c;
}

#btnAction {
    -fx-text-fill: white;
}

#btnAction:hover {
     -fx-border-radius: 2.0;
     -fx-border-color: white;
}

.pane, #contours {
	-fx-border-color: -fx-couleurBordures;
}

#lines {
	-fx-stroke: -fx-couleurBordures;
}

.progress-bar > .bar {
    -fx-background-color: -fx-couleurBordures;
}

.progress-bar > .track {
    -fx-background-color: -fx-couleurFond;
    -fx-border-color: -fx-couleurBordures;
}

.text-input {
    -fx-text-fill: white;
    }

.split-menu-button {
	-fx-background-color: -fx-couleurBordures;
}

.split-menu-button .label {
	-fx-background-color: -fx-couleurFond;
}

.split-menu-button .arrow {
	-fx-background-color: white;
}

.split-menu-button .menu-item, .split-menu-button .arrow-button {
	-fx-background-color: -fx-couleurFond;
	-fx-border-color: -fx-couleurBordures;
}

.split-menu-button .menu-item:hover {
	-fx-border-color: -fx-couleurBordures;
	-fx-border-width: 3.0;
}

.split-menu-button .menu-item:disabled, split-menu-button .menu-item:disabled>*
	{
	-fx-opacity: 1.0;
}

.jfx-text-area {
    -jfx-focus-color: white;
}

.text-area {
    -fx-prompt-text-fill: #9a8e8e;
    -fx-text-fill: white;
}

.text-area .input-line {
    -fx-background-color: -fx-couleurBordures;
}

.jfx-text-field {
    -jfx-focus-color: white;
}

.text-field {
    -fx-prompt-text-fill: #9a8e8e;
    -fx-text-fill: white;
}

    .text-field .input-line {
        -fx-background-color: -fx-couleurBordures;
    }