* {
   -fx-couleurFond: #1c1c1e;
   -fx-couleurBordures: #1f6b0c;
}

.root {
	-fx-background-color: -fx-couleurFond;
	-fx-border-color: -fx-couleurBordures;
	-fx-border-width: 3.0;
}

.label {
	-fx-text-fill: white;
}

.button {
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, -fx-couleurFond, #282827);
	-fx-background-radius: 1.0;
	-fx-border-width: 1.0;
	-fx-border-radius: 1.0;
	-fx-border-color: -fx-couleurBordures;
	-fx-text-fill: white;
}

.button:hover {
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #282827, -fx-couleurFond);
}

.pane, #contours {
	-fx-border-color: -fx-couleurBordures;
}

#lines {
	-fx-stroke: -fx-couleurBordures;
}

.progressBar {
	-fx-indeterminate-bar-length: 60.0;
	-fx-indeterminate-bar-escape: true;
	-fx-indeterminate-bar-flip: true;
	-fx-indeterminate-bar-animation-time: 2.0;
}

.progressBar>.bar {
	-fx-background-color: #2c3d2b;
	-fx-background-insets: 3.0 3.0 4.0 3.0;
	-fx-background-radius: 2.0;
	-fx-padding: 0.75em;
}

.progressBar:indeterminate>.bar {
	-fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}

.progressBar>.track {
	-fx-background-color: -fx-couleurFond;
	-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0, 1.0 1.0 2.0 1.0;
	-fx-background-radius: 4.0, 3.0, 2.0;
	-fx-border-color: -fx-couleurBordures;
	-fx-border-width: 1.0;
}

.slider>.track {
	-fx-background-color: white;
	-fx-background-size: 1.0;
}

.slider:vertical .track {
	-fx-pref-width: 2.0;
}

.slider .thumb {
	-fx-pref-height: 7.0;
	-fx-pref-width: 26.0;
	-fx-background-color: -fx-couleurBordures;
	-fx-border-width: 1.0;
	-fx-border-radius: 0.0;
	-fx-border-color: white;
}

.split-menu-button {
	-fx-background-color: -fx-couleurBordures;
}

.split-menu-button .label {
	-fx-background-color: -fx-couleurFond;
}

.split-menu-button .arrow {
	-fx-background-color: white;
}

.split-menu-button .menu-item, .split-menu-button .arrow-button {
	-fx-background-color: -fx-couleurFond;
	-fx-border-color: -fx-couleurBordures;
}

.split-menu-button .menu-item:hover {
	-fx-border-color: -fx-couleurBordures;
	-fx-border-width: 3.0;
}

.split-menu-button .menu-item:disabled, split-menu-button .menu-item:disabled>*
	{
	-fx-opacity: 1.0;
}